/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
body {
    justify-content: center;
    padding: 0 50px;
    margin: 0;
}

/**  HEADER **/
header {
    width: 100%;
    box-sizing: border-box;

}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo-container {
    width: auto;
    height: 79px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.logo-container img {
    width: 61.09px;
    max-height: 19px;
    display: block;
    padding: 0;
}

.menu-container{
    gap: 68px;
    padding: 0;
}
.main-nav .menu {
    gap: 68px;
    display: flex;
    width: 344px;
    height: 35px;
    list-style: none; /* plus de boutons de listes*/
    box-sizing: border-box;    /* inclut padding dans la largeur totale */
}


.menu a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.menu a:hover {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
    width: 100%;
    color: #0065FC;
    }

h1{
    font-size: 22px;
    font-weight: 700;
}

/** texte et search bar**/
.info-group{
    padding: 0 50px;
}
.info-group p{
    font-size: 16px;
    font-weight: 400;
}


::placeholder{color: black;}


/** Barre de recherche **/

.search-bar{
    margin-top: 40px;
    width: 377px;
    display: flex;
    gap: 24px;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;    
    
}
.search-bar input{
    font-size: 18px;
    font-weight: 700;
    width: 147px;
    color: black;
    border: none;
    text-align: left;
}

.search-bar img{ 
    background-color: #F2F2F2;
}

.search-bar button{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #0065FC;
    cursor: pointer;
    border: none;
}

.button-search {
    display: flex; 
}
.icon-search {
    display: none; 
}

/** Filtres**/


.case-filter{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;

}
h2{    
    font-size: 18px;
    font-weight: 700;
}
.filter {
  display: flex; 
  gap: 15px; 
}

.filter button{
    width: 173px;
    height: 50px;
    padding: 4px 19px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    }

    .filter button:hover{
        background-color: #DEEBFF;
         opacity: 80%;}

.infobar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

/** Code donné par openclassroom **/


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.section-title {
font-size: 22px;
font-weight: 700;
}
.card img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements {
    width: 65%;
  
}
.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

h3 { 
    font-size: 16px;
    font-weight: 700;
}
    .hebergements-cards p{
        font-size: 14px;
        font-weight: 400;
    }
    
.card{   
    width: 100%;
    border-radius: 20px;
    background-color: white;
}
.more{
    font-size: 18px;
    font-weight: 700;
}


.hebergements-cards img{
    width: 100%;
    object-fit: cover;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {

}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
}

/*Activités*/

.activity{

}
.activity-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.cardbis{   
    
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px #0000001A;
}


.cardbis img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.activity h3 {
   
    gap: 10px;
}


/* Footer */

.link-footer{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
      
     
}
.footer-content{
    list-style: none;
    gap: 15px;

    
}
h5{
    font-size: 18px;
    font-weight: 700;
   
}
.link-footer a {
    font-size: 16px;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
       
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */



     /* HEADER */ 
@media (max-width: 767.98px){

 .main-container{
    padding: 0 20px;
 }   
.main-nav{
    flex-direction: column;
    gap: 30px;
    
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
.menu li { 
    width: 50%; 
}

 .menu a {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;    
    }

.menu-border1{
    position: absolute;
    padding: 0;
    background-color:  #F2F2F2;
    left: 50%;
    width: 100vw;   /* viewport width = Largeur fenêtre / au lieu de 100% qui comprend les marges */ 
    transform: translateX(-50vw); /* Petite triche pour faire décaler de 50% de l'écran après le remplissage 100vw pour ignorer la marge qui m'a fait galérer 1h */
    height: 2px; 
    margin: 0;   
    }

.menu-border2{
    position: absolute;
    padding: 0;
    background-color:  #F2F2F2;
    left: 50vw;   /* commence à la moitié de la page pour remplir le reste */
    width: 50vw;
    height: 2px; 
    margin: 0;   
    }

.menu a:hover{
    border-top: none; 
}
.menu li:hover .menu-border1 {
    background-color: #0065FC;
}

.menu li:hover .menu-border2 {
    background-color: #0065FC;
}
/* HEADER OVER */

.info-group{padding-bottom: 15px;}

.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.search-bar input { 
    padding: 0 10px;
    flex: 1;
    min-width: 0px; }



.search-bar .button-search {
    display: none;
    }

.icon-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.icon-search i {
    color: white;
    font-size: 16px;
}

/* FILTRES */

.case-filter{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    
}

.filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}


.filter button{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/*  Cartes les plus populaires et Hébergments */ 

 .populaires{
    display: flex; 
    flex-direction: column;
    order: -1;  
    
 }
 .hebergements{
    display: flex;
    flex-direction: column;
    order: 0; 
 }

.populaires-cards a{
    display: block;
    width: 100%;}
    
.hebergements-cards,
.populaires-cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 12px; 
    width: 100%;
    }

.populaires-cards .card {
    display: flex;            
    flex-direction: row;  
    align-items: stretch;   
    gap: 15px; 
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}


.hebergements-and-populaires .hebergements {
    background-color: transparent;
    padding: 0;
}
.hebergements-and-populaires .populaires { /* griser uniquement la partie populaire*/
    background-color: var(--main-bg-color);
    border-radius: 0;
    width: 100vw;   /* récup du viewport width = Largeur fenêtre / pour enlever la marges */ 
    transform: translateX(-5vw); /* Petite triche pour faire décaler de 5 et remplire la page*/

}

.populaires-cards .card img {
    width: 35%;
    object-fit: cover; 
    display: block;          
    border-top-right-radius: 0;
}
.populaires-cards .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 5px 15px;
}
.populaires-cards .card-content .card-rating{
    display: flex;
    margin-top: auto;
}
.hebergements-cards .cards{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}


/* ACTIVITES */

.cardbis {
    display: flex;
    flex-direction: column;
}

 .activity-card {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr; 
    gap: 12px;
}
.activity img{
    width: 100%;
}
.activity-card .card{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}


/*FOOTER */
.link-footer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
}
